@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #151328;
  --tertiary-color: #FF9F3E;
  --light-color: #e3e2e9;
  --gray-light-color: #b5b3c3;
  --gray-dark-color: #413a31;
  --gray-color: #7f7d8e;
  --basic-color: rgb(135, 206, 235);
  --premium-color: rgb(215, 108, 108);
  --family-color:  rgb(203, 170, 141);
  --low-opacity-tertiary: rgba(255, 159, 62, 0.1);
  --low-opacity-secondary: rgba(21, 19, 40, 0.1);
  --header-height: 5rem;
  --transition-175s: all 0.175s ease-in-out;
  --transition-275s: all 0.275s ease-in-out;
  --transition-375s: all 0.375s ease-in-out;
}

body {
  overflow-x: hidden;
}

h1, h2 {
  color: var(--secondary-color) !important;
}

h3, h4, h5 {
  color: var(--gray-dark-color) !important;
}

p {
  color: var(--gray-color) !important;
}

a {
  text-decoration: none !important;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.85rem !important;
}

.fs-9 {
  font-size: 0.8rem !important;
}

.fs-10 {
  font-size: 0.75rem !important;
}