@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #151328;
  --tertiary-color: #FF9F3E;
  --gray-light-color: #b5b3c3;
  --gray-color: #7f7d8e;
  --header-height: 5rem;
  --transition-175s: all 0.175s ease-in-out;
  --transition-275s: all 0.275s ease-in-out;
  --transition-375s: all 0.375s ease-in-out;
}

body {
  overflow: hidden;
}

h1, h2, h3 {
  color: var(--secondary-color) !important;
}

p {
  color: var(--gray-color) !important;
}

ul, li, a {
  text-decoration: none !important;
  list-style: none !important;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.85rem !important;
}