@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Nunito', sans-serif;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #151328;
  --tertiary-color: #FF9F3E;
  --light-color: #e3e2e9;
  --gray-light-color: #b5b3c3;
  --gray-dark-color: #413a31;
  --gray-color: #7f7d8e;
  --basic-color: rgb(127, 125, 142);
  --premium-color: rgb(21, 19, 40);
  --family-color:  rgb(255, 159, 62);
  --low-opacity-tertiary: rgba(255, 159, 62, 0.1);
  --low-opacity-secondary: rgba(21, 19, 40, 0.1);
  --header-height: 5rem;
  --transition-175s: all 0.175s ease-in-out;
  --transition-275s: all 0.275s ease-in-out;
  --transition-375s: all 0.375s ease-in-out;
}

body {
  overflow-x: hidden;
}

h1, h2 {
  color: var(--secondary-color) !important;
}

h3, h4, h5 {
  color: var(--gray-dark-color) !important;
}

p {
  color: var(--gray-color) !important;
}

a {
  text-decoration: none !important;
}

#app :is(#home-section, #community-section, #contact-us-section) {
  min-height: 100dvh !important;
  padding: 0 10% !important;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.85rem !important;
}

.fs-9 {
  font-size: 0.8rem !important;
}

.fs-10 {
  font-size: 0.75rem !important;
}

.fs-11 {
  font-size: 0.70rem !important;
}

.fs-12 {
  font-size: 0.65rem !important;
}

/* ANIMATION CLASSES */

.fade-right {
  animation: fadeRight ease !important;
}

.fade-left {
  animation: fadeLeft ease !important;
}

.fade-up {
  animation: fadeUp ease !important;
}

.fade-down {
  animation: fadeDown ease !important;
}

/* KEYFRAMES */

@keyframes rotateFade {
  from {
    opacity: 0;
    width: 0rem;
    transform: rotate(90deg)
  }
  to {
    opacity: 1;
    width: 23rem;
    transform: rotate(0)
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(3rem)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-100%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(100%)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-100%)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}